<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="publish.li let's you publish your articles and posts with ease. It is free software.">
    <title>publish.li : Publish Your Posts With Ease.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s/css/styles.css">
  </head>

  <body>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17218498-13', 'auto'); ga('send', 'pageview');
    </script>

    <section class="hero is-primary">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand" href="/">
            publish.li
          </a>
        </div>

        <div class="nav-center">
          <a class="nav-item" href="https://github.com/appsattic/publish.li" target="_blank">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a>
          <a class="nav-item" href="https://twitter.com/AppsAttic" target="_blank">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
        </div>

        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="nav-right nav-menu">
          <a class="nav-item" href="#">
            Home
          </a>
          <a class="nav-item" href="https://publish.li/docs-">
            Docs
          </a>
          <a class="nav-item" href="https://blog.publish.li/">
            Blog
          </a>

          <span class="nav-item">
            <a class="nav-item" target="_blank" href="https://twitter.com/intent/tweet?text=Publish%20your%20articles%20and%20posts%20with%20ease.%20No%20signup%20and%20no%20login%20required.&amp;url=https:%3A%2F%2Fpublish.li%2F&amp;via=AppsAttic">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Tweet</span>
            </a>
          </span>
        </div>
      </nav>
    </section>

    <section class="section">
      <div id="app" class="container">

        <article v-if="err" class="message is-danger">
          <div class="message-header">
            Error
          </div>
          <div class="message-body">{{ err }}</div>
        </article>
        <p class="control has-icon has-icon-right">
          <input class="input is-large" type="text" placeholder="Title" v-model="title">
          <i class="fa fa-quote-right"></i>
        </p>
        <p class="control has-icon has-icon-right">
          <input class="input is-medium" type="text" placeholder="Author" v-model="author">
          <i class="fa fa-user"></i>
        </p>
        <p class="control has-icon has-icon-right">
          <textarea
            id="content"
            class="textarea is-medium"
            placeholder="Write your article ..."
            v-model="content"
          ></textarea>
          <i class="fa fa-pencil" style="font-size: 21px; right: 8px; top: 8px;"></i>
        </p>
        <p class="control has-addons has-addons-right">
          <input class="input is-medium" type="text" placeholder="Page ID" v-model="idLocal">
          <a class="button is-primary is-medium" @click="onLoad">
            Retrieve Page
          </a>
        </p>
        <div class="control is-grouped">
          <p class="control">
            <button
              class="button is-success is-medium"
              v-bind:class="{ 'is-disabled' : isLoading, 'is-loading' : isLoading }"
              @click="onSave"
            >
              Publish
            </button>
            <button
              class="button is-success is-medium"
              v-bind:class="{ 'is-disabled' : isLoading, 'is-loading' : isLoading }"
              @click="onNew"
            >
              Reset / New
            </button>
          </p>
        </div>
        <p v-if="url" class="is-medium">
          Published at
          <a :href="url">{{ name }}</a>
          (<a :href="url" target="_blank">New Window</a>)
        </p>
        <p v-if="id" class="is-large">
          Secret : {{ id }} - keep this safe so you can edit this page.
        </p>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>publish.li</strong>
            by <a href="https://chilts.org/">Andrew Chilton</a>
            for <a href="https://appsattic.com/">AppsAttic</a>.
            This is free software and licensed
            <a href="https://opensource.org/licenses/AGPL-3.0">AGPLv3</a>.
          </p>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="/s/js/app.js"></script>
  </body>
</html>
