    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>publish.li</strong>
            by <a href="https://chilts.org/">Andrew Chilton</a>
            for <a href="https://appsattic.com/">AppsAttic</a>.
            This is free software and licensed
            <a href="https://opensource.org/licenses/AGPL-3.0">AGPLv3</a>.
          </p>
        </div>
      </div>
    </footer>

    [[ if eq .Layout "home" ]]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="/s/js/app.js"></script>
    [[ end ]]
    [[ if eq .Layout "page" ]]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
    [[ end ]]


  </body>
</html>
